@model Repository.InvBrand
@{
    ViewBag.Title = "Brand";
}

<script src="~/Scripts/ApplicationJS/Pos_Setup/Brand.js"></script>

@using (@Html.BeginForm())
{
    <div class="FormName">Brand</div>
    <div class="MainDiv">
        <div class="LeftPart">
            @Html.HiddenFor(m => m.BrandID)
            <div class="LeftRow">
                <div class="LeftColumn">
                    @Html.LabelFor(m => m.BrandName, "Brand Name")
                </div>
                <div>
                    @Html.TextBoxFor(m => m.BrandName, new { @class = "required" })
                </div>
            </div>
            <div class="CustombuttonOnePart">
                <input class="ac-inputs ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Save" id="btnSave" />
                <input class="ac-inputs ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Update" id="btnUpdate" />
            </div>
            <div>
                <table id="tblInvBrand"></table>
                <div id="InvBrandPager"></div>
            </div>
        </div>
    </div>
}
